body {
    margin: 0;
    box-sizing: border-box;
    background-color: #d7d7d7;
}

:root {
    font-family: Poppins;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: inherit;
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Regular.woff2);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Medium.woff2);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Bold.woff2);
    font-weight: Bold;
    font-style: normal;
}


button {
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    outline: 0;
    padding: 8px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    font-family: 'Poppins';
    font-weight: 500;
    touch-action: manipulation;
}

button:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
}

input {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 4px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    border: 1px solid rgb(181, 181, 181);
}